<!--Using the Teacher model class-->﻿
@model IEnumerable<CumulativeOne.Models.Teacher>

@{
    ViewBag.Title = "List";
}


<div class="list-header fs-3 fw-bold text-danger pb-3">List of Teachers</div>

<!--The container-->
<div class="list-group">
    <div class="row mb-5">
        <div class="col-6">
            <!--Link to add a teacher-->
            <a class="btn btn-primary" href="/Teacher/New">Add a Teacher</a>

            <!--Link to add a teacher using AJAX-->
            <a class="btn btn-secondary" href="/Teacher/Ajax_New">AJAX Add Teacher</a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <!--Link to go back to the home page-->
            <a class="btn btn-success" href="/Home/Index">Home</a>
        </div>
    </div>
    
    <!--Form to search for a teacher-->
    <form class="mb-4" action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" placeholder="Search by name" />
        <input type="submit" value="Search" />
    </form>
    <!--Looping through every instance of a teacher-->
    @foreach (var teacher in Model)
    {
        <div class="list-item">
            <!--Setting the route using the anchor tag as well as displaying the teacher details-->
            <p class="col-md-12 list-group-item list-group-item-action w-25 text-center"><a class="text-decoration-none text-secondary" href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></p>
        </div>
    }
</div>
