<main>
    <div class="container mt-5 mb-5 d-flex flex-grow-1">

        <!--The teacher card-->
        <div class="card h-25 w-25 p-2 mx-3">
            <img class="card-img-top mb-3" src="https://cdn4.iconfinder.com/data/icons/women-avatars-set-2-dot-version/380/27-512.png" alt="Card Image">
            <div class="card-body border-top">
                <h5 class="card-title text-center"><a class="fs-4 fw-bold text-decoration-none text-danger" href="/Teacher/List">Our Teachers</a></h5>
                <p class="card-text text-center">See the teachers in our school</p>
            </div>
        </div>

        <!--The student card-->
        <div class="card h-25 w-25 p-2">
            <img class="card-img-top mb-3" src="https://cdn3.iconfinder.com/data/icons/avatar-set/512/Avatar02-512.png" alt="Card Image">
            <div class="card-body border-top">
                <h5 class="card-title text-center fw-bold text-decoration-none text-danger"><a class="fs-4 fw-bold text-decoration-none text-danger" href="/Student/List">Our Students</a></h5>
                <p class="card-text text-center">See the students in our school.</p>
            </div>
        </div>
    </div>
</main>